header {
    display: flex;
    justify-content: center;
    background-color: #f1f1f1
}
header h1{
    height: 200px;
    font-size: 70px;
    font-weight: bold;
    line-height: 200px;
    text-align: center;
    margin: 0 20px;
}
header .logo{
    width: 200px;
    height: 200px;
}
h2 {
    text-align: center;
}
.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
#addresses,#result {
    width: 70%;
    font-size: 14px;
    
}

/* Button styling */
.convert-item,.download-item{
    padding: 20px 0;
    height: 50px;
    font-size: 20px;
    font-weight: bold;

}
.convert-btn,#downloadLink{
padding: 5px 20px;
background-color: #007bff;
color: #fff;
border: none;
cursor: pointer;
transition: background-color 0.3s ease;
border-radius: 10px;
font-size: 30px;
}

.server-status{
    display: flex;
    justify-content: center;
}
#server-response {
    font-size: 16px; /* 字體大小 */
    padding: 10px; /* 內邊距，增加元素的間距 */
    border: 1px solid #ccc; /* 邊框 */
    margin-bottom: 10px;
    border-radius: 5px; /* 圓角邊框 */
    background-color: #f0f0f0; /* 背景顏色 */
    color: #333; /* 文字顏色 */
  }